:root{
  --white:#cccccc;
  --blue:#0087d7;
  --purple:#8787ff;
  --grey:#3a3a3a;
}
* {
  box-sizing: border-box;
}
label{
  user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 10px;
  margin: 0;
  background-color: #ccc;
}
body > *{
  margin-bottom: 10px;
}
pre {
  min-height: 400px;
  padding: 10px;

  white-space: pre-wrap;
  word-break: normal;

  font-family: "Cascadia Code PL","Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 20px;
  color: var(--white);
  background-color: #222222;
}
pre .blue{
  color:var(--blue);
}
pre .purple{
  color: var(--purple);
}
pre .grey{
  color: var(--grey);
}
pre.crt{
  filter: brightness(2) saturate(1.5);
  text-shadow: 0 0 5px  var(--white);
}
pre.crt::before{
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0.6) 50%, rgba(0, 0, 0, 0.25) 50%);
  z-index: 2;
  background-size: 100% 2px, 1px 100%;
  pointer-events: none;
}
pre.crt .blue{
  text-shadow: 0 0 3px  var(--blue);
}
pre.crt .purple{
  text-shadow: 0 0 3px  var(--purple);
}
pre.crt .grey{
  text-shadow: 0 0 3px  var(--grey);
}