div{
  box-shadow: #00000020 0 0 2px 1px;
  background-color: #00000005;
}
.list {
  padding: 10px;
  margin: 0 10px;
}
.list-item {
  padding: 5px 10px;
  margin-bottom: 10px;
  user-select: none;
}
.list-item:last-child {
  margin-bottom: 0;
}
.list-item:-moz-drag-over {
  border: 1px solid black;
}
